name: build

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "README.md"

  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "README.md"

  workflow_dispatch:

jobs:
  ubuntu:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Install Dependencies
        run: |
          go mod tidy

      - name: Cache Wails CLI
        id: cache-wails
        uses: actions/cache@v4
        with:
          path: ~/go/bin/wails
          key: ${{ runner.os }}-wails-cli-v2

      - name: Install wails
        if: steps.cache-wails.outputs.cache-hit != 'true'
        run: |
          go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
  
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: './frontend/pnpm-lock.yaml'

      - name: Install frontend dependencies
        run: |
          cd frontend
          pnpm install --frozen-lockfile
        
      - name: Build wails app
        run: |
          wails build -tags webkit2_41

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: muu-alpha-linux-amd64
          path: build/bin/
          if-no-files-found: error